#
# Copyright © 2021 Informatize. Todos os direitos reservados
#
# EditorConfig ajuda a manter estilos de codificação consistentes para vários
# desenvolvedores trabalhando no mesmo projeto em vários editores e IDEs
# http://editorconfig.org
#
# IMPORTANTE: Para funcionar no VS Code é preciso instalar a Extensão EditorConfig for VS Code

# True para que não continue procurando por outros .editorconfig no projeto
root = true

# Somente são suportados estas propriedades setadas aqui

# * estas propriedades valem para todos os arquivos do projeto
[*]
# em tempo de edição usa tab, mas converte em espaços. Isso ajuda muito
# quando precisa abrir o fonte em um outro editor com tabulação diferente
indent_style = space
# em tempo de edição o padrão de indentação
indent_size = 2
tab_width = 2

# quando salva insere o caracter padrão Windows (DOS) de fim de linha
end_of_line = crlf
# quando salva insere uma linha em branco no final do arquivo
insert_final_newline = true
# quando salva retira os espaços em branco no fim de cada linha
trim_trailing_whitespace = true
